@media(max-width: 767px)
  .container
    max-width: 100%

  body
    font-size: 20px

  .btn:not(.btn-sm)
    p
      width: 310px
      height: 70px
      font-size: 15px
    span
      width: 70px
      height: 70px

  .input
    height: 70px
    font-size: 18px

  .header
    padding: 20px 0
  .header-logo
    flex-direction: column
    gap: 5px
    p
      margin-top: 0

  .hero
    padding-top: 110px
    height: 890px
  .hero-title
    font-size: 50px
    max-width: 100%
  .hero-buttons
    margin-top: 30px
    width: 100%

  .hero-baths__btn
    display: none
  .hero-baths__item:nth-child(1) img
    width: 640px
  .hero-baths__item:nth-child(2)
    right: 210px
    img
      width: 600px
  .hero-baths__item:nth-child(3)
    left: 200px
    img
      width: 430px
  .hero-baths
    margin-top: 0
    width: 390px
    margin-left: auto
    margin-right: auto

  .concept-grid
    display: none

  .title
    font-size: 40px

  .concept .title
    text-align: center
    max-width: 390px
    margin: 0 auto
    img
      height: 42px
  .concept-bath
    margin: 20px auto 0
    text-align: center
    br
      display: none
  .concept-bath b
    margin: 30px auto 0
    font-weight: 500
    max-width: 260px
  .concept-interview,
  .concept-types,
  .concept-bochky
    width: 100%
    max-width: 300px
    margin: 0 auto
    text-align: center
    justify-content: center
    margin-top: 40px

  .concept-gallery
    display: none
  .concept .btn
    display: flex
    margin: 40px auto 0
    max-width: 420px
    p
      flex: 1

  .bath
    padding-top: 80px
  .bath-item img
    height: 200px
  .bath-item__info h3
    font-size: 40px
    margin-bottom: 10px
  .bath-item__info h4
    font-size: 30px
  .bath-item .btn p
    flex: 1
  .bath-item__spec
    font-size: 18px

  .manager-photo
    width: 340px
  .manager-info
    top: calc(100% + 300px)
    margin-left: -40px

  .create-item h4
    font-size: 20px
    width: 100%
  .create-item p
    font-size: 18px
    width: 100%
  .create-item
    flex-direction: column
    padding: 35px

  .footer-nav
    max-width: 100%
    @include flexbox
    align-items: flex-start
    margin: 50px 0
    p
      width: 100%
      margin-bottom: 0
    li
      width: 50%
      margin-top: 15px

  .contact-card
    width: 100%
    margin-top: 40px

  .team-item__text
    width: 100%
    margin-top: 20px
  .team-item__text h3
    font-size: 25px

  .team .title
    text-align: left
    margin-bottom: 40px

  .about
    padding: 370px 0 50px
    background-position: center right -400px
  .about p
    font-size: 20px
    max-width: 310px

  .process-item
    margin-bottom: 40px
  .process-item__image
    width: 100%
    height: 220px
  .process-item__text
    width: 100%
    padding: 20px
  .process-item__image
    order: -1 !important

  .complex
    padding: 0
    .title
      font-size: 35px
      max-width: 390px
      margin: 0 auto
  .complex-item p
    padding: 0
  .complex-item__img
    height: 220px

  .item-grid
    margin-top: 20px
  .item-gallery
    gap: 10px
    a
      width: calc(100% / 2 - 5px)
  .item-gallery img
    border-radius: 15px
  .item-gallery a:first-child
    height: 275px
  .item-spec li
    margin-top: 15px
  .item-spec li span
    width: 90px
  .item-price
    font-size: 30px
    margin: 20px 0 10px
  .item-description__text
    margin-top: 10px
    line-height: 1.45

  .item-optional
    margin-top: 40px
  .item-optional__card
    img
      width: 80px
      height: 80px
    span
      width: calc(100% - 80px - 15px)
  .item-others__grid
    margin-top: 20px
    grid-template-columns: repeat(1, 1fr)
  .item-others
    margin: 50px 0 0

  .text
    .title
      font-size: 28px
