<footer class="footer">
  <div class="container">
    <div class="footer-contact">
      <a href="/" class="footer-logo">
        <img src="img/svg/logo.svg" alt="">
        <p>3 бочки</p>
      </a>
      <ul>
        <li>
          <img src="img/svg/wa.svg" alt="">
          <p><a href="#">WhatsApp</a></p>
        </li>
        <li>
          <img src="img/svg/tg.svg" alt="">
          <p><a href="#">Telegram</a></p>
        </li>
        <li>
          <img src="img/svg/ph.svg" alt="">
          <p><a href="#">+7 (999) 999-99-99</a></p>
        </li>
      </ul>
    </div>
    <ul class="footer-nav">
      <p>Меню:</p>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Преимущества</a></li>
      <li><a href="#">Отзывы</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Команда</a></li>
      <li><a href="#">Производство</a></li>
    </ul>
    <div class="footer-end">
      <a href="#" class="footer-policy">Политика<br> конфиденциальности</a>
      <a href="#" class="footer-author">
        <p>Разработка<br> сайта:</p>
        <img src="img/svg/side.svg" alt="">
      </a>
    </div>
  </div>
</footer>