<header class="header{% if header_absolute %} absolute{% endif %}">
  <div class="container">
    <a href="/" class="header-logo">
      <img src="img/svg/logo.svg" alt="">
      <p>3 бочки</p>
    </a>
    <ul class="header-nav">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">О производстве</a></li>
      <li><a href="#">Команда</a></li>
    </ul>
    <div class="header-contact">
      <a href="tel:+7 (999) 999-99-99">+7 (999) 999-99-99</a>
      <span>Получить консультацию</span>
    </div>
  </div>
</header>