<div class="popup" id="popup-call">
  <h3></h3>
  <h4>Оставьте свои контактные данные, и наш менеджер Ольга перезвонит Вам в течении 5 минут</h4>
  <form action="#" method="post">
    <input type="text" class="input" placeholder="Ваше имя" />
    <input type="tel" class="input masked" placeholder="Номер телефона" />
    <input type="hidden" name="form" />
    <button class="btn btn-green"><p></p><span></span></button>
  </form>
  <small>Нажимая кнопку «<span></span>», Вы даете свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных *</small>
</div>