<section class="manager">
  <div class="container">
    <div class="manager-form">
      <h2 class="title">поможем<br> с выбором</h2>
      <h4>Подберем оптимальный вариант на основе Ваших пожеланий</h4>
      <form action="#" method="post">
        <input type="text" class="input" placeholder="Ваше имя" />
        <input type="tel" class="input masked" placeholder="Номер телефона" />
        <input type="hidden" name="form" value="Поможем с выбором" />
        <button class="btn btn-green"><p>оставить заявку</p><span></span></button>
      </form>
      <img src="img/manager.png" alt="" class="manager-photo">
      <div class="manager-info">
        <b>Ольга</b>
        <p>менеджер по продажам</p>
      </div>
    </div>
  </div>
</section>