<div class="reviews-item">
  <div class="reviews-item__photos">
    <img src="img/reviews-1.jpg" alt="">
    <img src="img/reviews-2.jpg" alt="">
  </div>
  <div class="reviews-item__content">
    <div class="reviews-item__author">
      <img src="img/noava.png" alt="">
      <b>Наталья Н.</b>
    </div>
    <div class="reviews-item__text">
      <p>Приобрели баню в 2020 году. Хочется сказать огромное спасибо производителю! Оперативно и грамотно ответили на все наши вопросы. Без проблем привезли и установили в 50 км от города. Все в установленные сроки) Наша семья в восторге. Пользуемся уже два года,очень экономичная в плане дров и по времени топки. Сравнительно недорого для такого качества!</p>
    </div>
  </div>
</div>