{% extends 'components/_layout.html' %}
{% set site_title = 'О производстве' %}

{% block content %}

<section class="about">
  <div class="container">
    <div class="about-grid"><span></span></div>
    <h2 class="title">Производим бани-бочки с 2015 года</h2>
    <p>Более 9 лет являемся прямым производителем бань-бочек, поэтому, заказывая у нас, Вы экономите от 15% бюджета</p>
  </div>
</section>

<section class="process">
  <div class="container">
    <h2 class="title">процесс создания <span>3-х идеальных бань</span></h2>
    <div class="process-item">
      <img src="img/process-1.jpg" alt="" class="process-item__image">
      <div class="process-item__text">
        <h3>Заготовка<br> материалов:</h3>
        <ul>
          <li>Предпочтительно зимний лес, чтобы избежать посинения и повреждения короедом.</li>
          <li>Распил бревен на дисковых пилорамах.</li>
          <li>Сортировка досок по диаметру и качеству.</li>
        </ul>
      </div>
    </div>
    <div class="process-item">
      <img src="img/process-2.jpg" alt="" class="process-item__image">
      <div class="process-item__text">
        <h3>Сушка<br> древесины:</h3>
        <ul>
          <li>Предварительная сушка под навесами для снижения влажности.</li>
          <li>Сушка в специальных камерах в течение 9 дней.</li>
        </ul>
      </div>
    </div>
    <div class="process-item">
      <img src="img/process-3.jpg" alt="" class="process-item__image">
      <div class="process-item__text">
        <h3>Строгание<br> и обработка:</h3>
        <ul>
          <li>Строгание досок на специальных станках для получения гладкой поверхности.</li>
          <li>Создание профиля на досках для сборки стен.</li>
          <li>Обработка антисептиком и маслом для защиты от влаги, грибка и плесени.</li>
        </ul>
      </div>
    </div>
    <div class="process-item">
      <img src="img/process-4.jpg" alt="" class="process-item__image">
      <div class="process-item__text">
        <h3>Изготовление<br> комплектующих:</h3>
        <ul>
          <li>Производство донышек, дверей, окон, ступенек и других элементов бани из остатков древесины.</li>
          <li>Сращивание и склеивание досок для получения более прочных и стабильных деталей.</li>
        </ul>
      </div>
    </div>
    <div class="process-item">
      <img src="img/process-5.jpg" alt="" class="process-item__image">
      <div class="process-item__text">
        <h3>Комплектация<br> и сборка:</h3>
        <ul>
          <li>Сборка комплекта бани по индивидуальной описи заказчика.</li>
          <li>Упаковка готовой продукции в пленку для защиты от влаги и ультрафиолета.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="complex">
  <div class="container">
    <h2 class="title">Уделяем внимание каждой комплектующей <span>наших бань</span></h2>
    <div class="complex-grid">
      <div class="complex-item">
        <img src="img/complex-1.jpg" alt=" " class="complex-item__img">
        <h3>Двери<br> из массива дерева</h3>
        <p>Двери изготавливаются из остатков досок, которые сращиваются и склеиваются для придания им стабильности и прочности. Перед покраской двери обрабатываются специальным маслом и антисептиком</p>
      </div>
      <div class="complex-item">
        <img src="img/complex-2.jpg" alt="" class="complex-item__img">
        <h3>Сэндвич-<br>дымоход</h3>
        <p>Конструкция дымохода продумана таким образом, чтобы минимизировать попадание влаги и предотвратить стекание сажи. Соединения дымохода выполнены на нержавеющих клепках, чтобы обеспечить долговечность и предотвратить коррозию в местах швов.</p>
      </div>
      <div class="complex-item">
        <img src="img/complex-3.jpg" alt="" class="complex-item__img">
        <h3>Обручи<br> из нержавеющей стали</h3>
        <p>Наша компания занимается собственным производством уникальных обручей для бани из нержавеющей стали, что намного увеличивает срок службы бани-бочки</p>
      </div>
      <div class="complex-item">
        <img src="img/complex-4.jpg" alt="" class="complex-item__img">
        <h3>Функциональные<br> полки и столы</h3>
        <p>Большое количество полок помогают сделать пространство бани более функциональным. Полки обрабатываются антисептиком для бани и сауны и изготавливаются на отдельном производстве</p>
      </div>
      <div class="complex-item">
        <img src="img/complex-5.jpg" alt="" class="complex-item__img">
        <h3>Внешняя обработка<br> маслом</h3>
        <p>При создании бени используется специальный состав для обработки торцов древесины, чтобы предотвратить растрескивание и усыхание. Также внешние стены бани обрабатываются маслом.</p>
      </div>
      <div class="complex-item">
        <img src="img/complex-6.jpg" alt="" class="complex-item__img">
        <h3>Технология<br> “Лунный паз”</h3>
        <p>"лунный паз" – это часть профиля доски, которая обеспечивает надежное соединение элементов конструкции бани</p>
      </div>
    </div>
  </div>
</section>

{% include 'components/manager-rtl.html' %}

{% endblock %}