{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}
{% set header_absolute = true %}

{% block content %}

<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span>3 идеальные <img src="img/hero-title-1.jpg" alt=""></span>
      <span><img src="img/hero-title-2.jpg" alt=""> бани-бочки</span>
      <span>по лучшим ценам</span>
    </h1>
    <div class="hero-baths">
      <div class="hero-baths__item">
        <img src="img/bath-1.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Бизнес</p><span></span></a></div>
      </div>
      <div class="hero-baths__item">
        <img src="img/bath-2.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Комфорт</p><span></span></a></div>
      </div>
      <div class="hero-baths__item">
        <img src="img/bath-3.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Комфорт +</p><span></span></a></div>
      </div>
    </div>
    <div class="hero-buttons">
      <a href="#" class="btn btn-green"><p>Выбрать баню</p><span></span></a>
      <a href="#" class="btn btn-white"><p>Получить каталог</p></a>
    </div>
  </div>
</section>

{% endblock %}