{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}
{% set header_absolute = true %}

{% block content %}

<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span>3 идеальные <img src="img/hero-title-1.jpg" alt=""></span>
      <span><img src="img/hero-title-2.jpg" alt=""> бани-бочки</span>
      <span>по лучшим ценам</span>
    </h1>
    <div class="hero-baths">
      <div class="hero-baths__item">
        <img src="img/bath-1.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Бизнес</p><span></span></a></div>
      </div>
      <div class="hero-baths__item">
        <img src="img/bath-2.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Комфорт</p><span></span></a></div>
      </div>
      <div class="hero-baths__item">
        <img src="img/bath-3.png" alt="">
        <div class="hero-baths__btn"><a href="#" class="btn btn-sm btn-white"><p>Комфорт +</p><span></span></a></div>
      </div>
    </div>
    <div class="hero-buttons">
      <a href="#" class="btn btn-green"><p>Выбрать баню</p><span></span></a>
      <a href="#" class="btn btn-white"><p>Получить каталог</p></a>
    </div>
  </div>
</section>

<section class="concept">
  <div class="container">
    <div class="concept-grid"></div>
    <div class="concept-row">
      <h2 class="title">Авторская концепция трех<img src="img/concept-3.png" loading="lazy" alt="">бань</h2>
      <div class="concept-bath">
        <p>"А что, если избавить клиента бесконечного просмотра каталогов<br> и <span>сделать 3 бани, которые будут отвечать всем запросам клиента?</span>"</p>
        <b>Мы решили провести большое исследование</b>
      </div>
    </div>
    <div class="concept-row">
      <div class="concept-interview">
        <h3>500</h3>
        <img src="img/svg/interview.svg" alt="" loading="lazy">
        <p>За год провели более<br> 500 интервью с реальными клиентами, чтобы лучше понять основные пожелания</p>
      </div>
    </div>
    <div class="concept-row">
      <div class="concept-gallery">
        <img src="img/concept-image-1.jpg" alt="" loading="lazy">
        <img src="img/concept-image-2.jpg" alt="" loading="lazy">
        <img src="img/concept-image-3.jpg" alt="" loading="lazy">
        <img src="img/concept-image-4.jpg" alt="" loading="lazy">
      </div>
      <div class="concept-types">
        <h3>15</h3>
        <img src="img/svg/types.svg" alt="" loading="lazy">
        <p>Создали более 15 разновидностей новых бань, а также провели тест-драйвы с нашими клиентами</p>
      </div>
    </div>
    <div class="concept-row">
      <div class="concept-bochky">
        <h3>3</h3>
        <h4>бани<br> бочки</h4>
        <img src="img/svg/bochky.svg" alt="" loading="lazy">
        <p>Спустя 9 лет создания бань-бочек, мы готовы предложить 3 идеальных варианта бань-бочек по самой выгодной цене</p>
      </div>
      <a href="#" class="btn btn-green"><p>Выбрать баню</p><span></span></a>
    </div>
  </div>
</section>

<section class="bath">
  <div class="container">
    <h2 class="title">Выберите <img src="img/bath-title-1.jpg" alt="" loading="lazy"> идеальный вариант бани <img src="img/bath-title-2.jpg" alt="" loading="lazy"> <span>для себя или семьи</span></h2>
    <div class="bath-item">
      <img src="img/bath-item-1.jpg" alt="" loading="lazy">
      <div class="bath-item__info">
        <h3>комфорт</h3>
        <h4>249.990₽</h4>
        <a href="#" class="btn btn-white"><p>подробнее</p><span></span></a>
      </div>
      <ul class="bath-item__spec">
        <li>
          <p>Комнат</p>
          <span>2</span>
        </li>
        <li>
          <p>Длина</p>
          <span>4,5 м</span>
        </li>
        <li>
          <p>Материал</p>
          <span>Ель / кедр</span>
        </li>
      </ul>
      <a href="#" class="btn btn-green"><p>подробнее</p><span></span></a>
    </div>
    <div class="bath-item">
      <img src="img/bath-item-2.jpg" alt="" loading="lazy">
      <div class="bath-item__info">
        <h3>комфорт +</h3>
        <h4>349.990₽</h4>
        <a href="#" class="btn btn-white"><p>подробнее</p><span></span></a>
      </div>
      <ul class="bath-item__spec">
        <li>
          <p>Комнат</p>
          <span>2</span>
        </li>
        <li>
          <p>Длина</p>
          <span>4,7 м</span>
        </li>
        <li>
          <p>Материал</p>
          <span>Ель / кедр</span>
        </li>
      </ul>
      <a href="#" class="btn btn-green"><p>подробнее</p><span></span></a>
    </div>
    <div class="bath-item">
      <img src="img/bath-item-3.jpg" alt="" loading="lazy">
      <div class="bath-item__info">
        <h3>БИЗНЕС</h3>
        <h4>479.990₽</h4>
        <a href="#" class="btn btn-white"><p>подробнее</p><span></span></a>
      </div>
      <ul class="bath-item__spec">
        <li>
          <p>Комнат</p>
          <span>3</span>
        </li>
        <li>
          <p>Длина</p>
          <span>6 м</span>
        </li>
        <li>
          <p>Материал</p>
          <span>Ель / кедр</span>
        </li>
      </ul>
      <a href="#" class="btn btn-green"><p>подробнее</p><span></span></a>
    </div>
  </div>
</section>

{% include 'components/manager.html' %}

<section class="create">
  <div class="container">
    <div class="create-head">
      <h2 class="title">Создаем бани, проработанные <span>до мелочей</span></h2>
      <h3>C заботой<br> о наших клиентах</h3>
    </div>
    <div class="create-grid">
      <div class="create-col">
        <div class="create-item create-item-1">
          <h4>Собственное производство</h4>
          <p>Наши бани производятся профессионалами на собственных заводах</p>
        </div>
        <div class="create-item create-item-2">
          <h4>Стоимость</h4>
          <p>Самое выгодное предложение на рынке</p>
          <h5>от 249.000₽</h5>
        </div>
      </div>
      <div class="create-col">
        <div class="create-item create-item-3">
          <h4>Качественные материалы</h4>
          <p>Используем материалы, которые прослужат долгие годы</p>
        </div>
        <div class="create-item create-item-4">
          <h4>Реальная гарантия</h4>
          <p>Осуществляем гарантию на все наши бани 12 месяцев</p>
          <h5>12 месяцев</h5>
        </div>
      </div>
      <div class="create-col">
        <div class="create-item create-item-5">
          <h4>Функциональное пространство</h4>
          <p>Отдельная душевая зона, просторная зона отдыха с возможностью размещения откидного стола</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reviews">
  <div class="container">
    <h2 class="title">Более 100<br> реальных отзывов</h2>
    <h3>Посмотрите, что о нас говорят наши клиенты</h3>
    <div class="splide reviews-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">{% include 'components/reviews-item.html' %}</li>
          <li class="splide__slide">{% include 'components/reviews-item.html' %}</li>
          <li class="splide__slide">{% include 'components/reviews-item.html' %}</li>
          <li class="splide__slide">{% include 'components/reviews-item.html' %}</li>
        </ul>
      </div>
    </div>
    <div class="reviews-btn"><a href="#" class="btn btn-green"><p>Выбрать баню</p><span></span></a></div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <div class="faq-left">
      <h2 class="title">Вопрос<br> & ответ</h2>
      <p>Нет ответа на Ваш вопрос? Наша команда готова ответить на любые вопросы, которые у вас могут возникнуть</p>
      <p><a href="#">задать вопрос</a></p>
    </div>
    <div class="faq-list">
      <div class="faq-item">
        <div class="faq-title">Возможна ли оплата частями?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-title">Какой срок установки бани?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-title">Можно ли использовать баню-бочку зимой?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-title">Можно ли спать в банях-бочках?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-title">Можно ли мыться в банях-бочках?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-title">Подходит ли для маленьких участков?</div>
        <div class="faq-content">
          <div class="faq-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quod sint ea. Eveniet officiis voluptatum neque ab, cum, debitis nostrum nemo quis enim molestiae porro nobis provident adipisci fugit praesentium!</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}