{% extends 'components/_layout.html' %}
{% set site_title = 'Текстовая страница' %}

{% block content %}

<section class="text">
  <div class="container">
    <h2 class="title">TITLE</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis magnam impedit a minus, velit officiis unde reiciendis aut natus, sed laudantium consectetur neque nihil eum odio optio! Possimus, dolorem quod.</p>
    <p>Nam, sunt iste quae dolores modi molestias consequuntur quibusdam quidem ad unde labore aliquid perferendis laudantium. Aliquid sequi ullam obcaecati cum itaque animi omnis ut officiis, exercitationem suscipit id consectetur.</p>
    <p>Nobis atque omnis aut eius fugit! Aperiam deleniti eum facere perferendis ut adipisci, impedit sint, vitae, eveniet veritatis numquam! Voluptates facilis eaque quaerat porro asperiores praesentium dicta alias odit consequuntur.</p>
    <p>Maxime consectetur, vitae, rem sequi ut doloribus itaque sapiente ex molestiae mollitia incidunt optio quaerat quas ipsa dolor perspiciatis placeat aperiam? Ratione, blanditiis sequi officiis tenetur aspernatur perferendis ut inventore.</p>
    <p>Eius non expedita cumque saepe sapiente cupiditate id aliquam atque et quae voluptatum, tempore ut officiis facere labore corrupti! Amet quaerat dicta nisi qui voluptatibus vitae dolor, mollitia sunt corporis.</p>
  </div>
</section>

{% endblock %}